@*Initially was a replica of Edit.cshtml*@
@model Category


<form method="post" asp-action="DeletePost">  @* We can also write 'delete', check comment in controller httpPost delete tag*@
    <input asp-for="Id" hidden /> @*Because clicking delete returns null ID and we will be taken to notfound()*@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
        <h2 class="text-primary">Delete Category</h2>
        <hr />
        </div>
        
        <div class="mb-3">
            <label asp-for="Name"></label>  @*Displays Name from Category model due to asp-for, else we would have to write it manually.*@
            <input asp-for="Name" disabled class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>     @*client side validations*@
            </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label> 
            <input asp-for="DisplayOrder" disabled class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to list
            </a>
    </div>
</form>

@*@section Scripts {  @*This is client side custom validation
    @{
    <partial name="_ValidationScriptPartial" />
    }
}*@
